@import '../basestyles';

.aside {
    width: $sidebar-width;
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(md) {
        display: none;
        background: #12141a;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 3;
    }
    @include media-breakpoint-up(lg) {
        display: block!important;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #1a1a1a;
        opacity: 0.3;
        z-index: 0;
    }
}

.brand {
    display: inline-block;
    width: rem(180px);
}

.aside-content {
    display: flex;
    flex-flow: column;
    height: 100%;
    position: relative;
    z-index: 2;
    padding: 20px 0;
}

.menu-icon {
    display: inline-block;
    width: rem(40px);
    margin-right: rem(10px);
    font-size: rem(40px);
    @include media-breakpoint-up(xl) {
        width: rem(50px);
        font-size: rem(50px);
    }
    &.selected {
        display: none;
    }

    i {
        position: relative;
        top: 3px;
    }
}

.sidebar-menu {
    margin-top: rem(40px);
    @include media-breakpoint-up(xl) {
        margin-top: rem(50px);
    }
}

.sidebar-nav-item {
    display: flex;
    align-items: center;
    min-height: rem(60px);
    margin-bottom: rem(5px);
    border-left: 3px solid transparent;
    @include media-breakpoint-down(sm) {
        line-height: 1.4;
        min-height: rem(50px);
    }
    @include media-breakpoint-up(xl) {
        min-height: rem(70px);
    }
    a {
        display: flex;
        align-items: center;
        padding: 0 rem(20px);
        color: #e3e3e3;
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem(16px);
        @include media-breakpoint-down(sm) {
            font-size: rem(14px);
        }
        @include media-breakpoint-up(xl) {
            font-size: rem(16px);
        }
    }

    &.active {
        background: #100b23;
        border-left: 3px solid #90c2ec;
        .menu-icon {
            &.non-selected {
                display: none;
            }
            &.selected {
                display: block;
            }
        }
    }

    &:hover {
        background: #100b23;
        border-left: 3px solid #90c2ec;
    }
}

.bottom-links {
    margin-top: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    a {
        display: block;
        color: rgba(255,255,255,0.2);
        transition: 0.3s;
        &:hover {
            color: rgba(255,255,255,1);
        }
    }
}
