.alert {
  background-color: pink;
  border-color: pink; 
  color: white;
  border-width: 1px;
  border-style: solid;
  padding: .75rem 1.25rem;
  border-radius: .25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &::after {
    box-sizing: border-box;
  }

  .content {
    padding: 5px;
  }

  .close {     
    float: right;
    font-size: 2rem;
    font-weight: 700;    
    right:0;
    line-height: 1;
    padding: 5px;    
    opacity: .5;
    background-color: transparent;
    border: 0;
    color: inherit;    


    &:hover {
      color: grey;
      opacity: 0.75;
      cursor: pointer;          
    }
  }
}

.alert-hidden {
  display: none !important;
}

.alert-danger {
  background-color: $brand-danger;
  border-color: $brand-danger;
  color: white;
}

.alert-success {
  background-color: $color-mint-green;
  border-color: $color-mint-green;
  color: black;
}